<ion-header class="fondoAzulApp">
  <ion-toolbar>
    <app-atras slot="start"></app-atras>
    <ion-title>Accidentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="fondoAzulApp">
  <form [formGroup]="formAcc2" (ngSubmit)="sendData()">

    <ion-item>
      <ion-label position="floating">Lugar del accidente</ion-label>
      <ion-input type="text" formControlName="lAcc"></ion-input>
    </ion-item>

    <ion-item *ngIf="formAcc2.get('lAcc').errors?.required && formAcc2.get('lAcc').dirty"
      class="sizeTextMessageInvalidInputs" lines="none">
      *El lugar es obligatorio*
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha del accidente</ion-label>
      <ion-datetime formControlName="fAcc" cancelText="Cerrar" doneText="Ok" displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Parte del cuerpo afectada</ion-label>
      <ion-input type="text" formControlName="cAfect"></ion-input>
    </ion-item>

    <ion-item *ngIf="formAcc2.get('cAfect').errors?.required && formAcc2.get('cAfect').dirty"
      class="sizeTextMessageInvalidInputs" lines="none">
      *El campo es obligatorio*
    </ion-item>

    <ion-item>
      <ion-label position="floating">Accidente reportado por</ion-label>
      <ion-input type="text" formControlName="aRepor"></ion-input>
    </ion-item>

    <ion-item *ngIf="formAcc2.get('aRepor').errors?.required && formAcc2.get('aRepor').dirty"
      class="sizeTextMessageInvalidInputs" lines="none">
      *El campo es obligatorio*
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cargo de quien reporta</ion-label>
      <ion-input type="text" formControlName="cRepor"></ion-input>
    </ion-item>

    <ion-item *ngIf="formAcc2.get('cRepor').errors?.required && formAcc2.get('cRepor').dirty"
      class="sizeTextMessageInvalidInputs" lines="none">
      *El campo es obligatorio*
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha del reporte</ion-label>
      <ion-datetime formControlName="fRepor" cancelText="Cerrar" doneText="Ok" displayFormat="DD/MM/YYYY">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Hora del reporte</ion-label>
      <ion-datetime formControlName="hRepor" cancelText="Cerrar" doneText="Ok" displayFormat="HH:mm"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Estado del reporte</ion-label>
      <ion-select interface="alert" placeholder="Seleccionar" formControlName="eRepor" cancelText="Cancelar">
        <ion-select-option>Borrador</ion-select-option>
        <ion-select-option>Finalizado</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripcion del accidente</ion-label>
      <ion-textarea type="text" formControlName="dAcc"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="formAcc2.get('dAcc').errors?.required && formAcc2.get('dAcc').dirty"
      class="sizeTextMessageInvalidInputs" lines="none">
      *La descripcion es obligatoria*
    </ion-item>

    <ion-button size="large" expand="block" class="buttonFollow" type="submit" [disabled]="!formAcc2.valid">
      Enviar
    </ion-button>

  </form>
</ion-content>