<ion-header class="fondoAzulApp">
  <ion-toolbar>
    <app-menu slot="start"></app-menu>
    <ion-title>
      Inspecciones/Encuestas
    </ion-title>
    <app-logout slot="end"></app-logout>
  </ion-toolbar>
</ion-header>

<ion-content class="fondoAzulApp">


  <ion-list name="app">

    <!-- se listan las encuestas-->
    <ion-item-sliding *ngFor="let apps of nombreApp; let i=index" (click)="mostrarTitulo(apps.DESCRIPCION).value">

      <!-- item que se muestra si el usuario no tiene ninguna encuesta asignada-->
      <ion-item class="centroMessage" *ngIf="!apps.DESCRIPCION > '' ">
        <ion-label aligntext="center"> No tiene acceso</ion-label>
      </ion-item>

      <!-- formulario que permite validar a que modulo el usuario quiere acceder-->
      <form [formGroup]="formOpc">
        <ion-item *ngIf="apps.DESCRIPCION > '' " (click)="rtaEncuesta(apps.ID_APP).value"
          (click)="mostrarEnc(apps.ID_APP).value">

          <ion-icon slot="start" class="logout" name="md-create"></ion-icon>
          <br>
          <ion-label class="overflow-visible"> {{apps.DESCRIPCION}}</ion-label>


          <ion-select interface="action-sheet" placeholder="ir a" cancelText="Cancelar" formControlName="opcion"
            (ionChange)="opciones()">
            <ion-button>
              <ion-select-option value="mostrar-encuesta" class="alertOpcion">Diligenciar Inspección/Encuesta</ion-select-option>
              <ion-select-option value="ver-encuesta">Editar </ion-select-option>
            </ion-button>
          </ion-select>

        </ion-item>
      </form>

    </ion-item-sliding>
  </ion-list>


</ion-content>