.centroMessage {
  text-align-last: center;
}

.overflow-visible {
  white-space: initial;
}

ion-button {
  --color: white;
  --background: #009bdb;
  font-size: 10px;
}

.ver {
  --color: white;
  --background: rgb(132, 186, 209);
  font-size: 10px;
}

.alertOpcion {
  text-align: center;
}

ion-select {
  text-align: center;
}
