<ion-header class="fondoAzulApp">
  <ion-toolbar>
    <app-atras slot="start"></app-atras>
    <ion-title>Ili</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="fondoAzulApp">

  <ion-item>
    <ion-label position="stacked">Administrador del contrato</ion-label>
    <ion-input type="text" disabled="true">{{ IdEncuesta }}</ion-input>
  </ion-item>

  <form [formGroup]="formIli" (ngSubmit)="sendData()">

    <ion-item>
      <ion-label>Contrato</ion-label>
      <ion-select interface="alert" placeholder="Seleccionar" cancelText="Cancelar" formControlName="cont"
        (ionChange)="selectAdminDepend(formIli.get('cont').value)">
        <ion-select-option *ngFor="let con of loadContrato" value="{{ con.ID_CONTRATO }}">{{ con.NUMERO }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Administrador del contrato</ion-label>
      <ion-input type="text" disabled="true">{{ admin }}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Dependencia</ion-label>
      <ion-input type="text" disabled="true">{{ depend }}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Periodo del contrato</ion-label>
      <ion-datetime cancelText="Cerrar" doneText="Ok" displayFormat="YYYY/MM" formControlName="periodoContrato"
        (ionChange)="validateDateIli(formIli.get('periodoContrato').value)" disabled="flagDatePicker"
        [min]="periodoCont" [max]="periodoFinal">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Accidentes incapacitantes</ion-label>
      <ion-input type="tel" formControlName="accIncapacitante"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Accidentes no incapacitantes</ion-label>
      <ion-input type="tel" formControlName="accNoIncapacitante"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dias perdidos</ion-label>
      <ion-input type="tel" formControlName="diasPerdidos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Horas hombres trabajadas</ion-label>
      <ion-input type="tel" formControlName="horasHT"></ion-input>
    </ion-item>

    <ion-button size="large" expand="block" class="buttonFollow" type="submit" [disabled]="!formIli.valid">
      Enviar
    </ion-button>

  </form>

</ion-content>