<ion-header class="fondoAzulApp">
  <ion-toolbar>
    <app-atras slot="start"></app-atras>
    <ion-title class="container">{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondoAzulApp">
  <ion-list name="app">

    <!-- se recorre la lsita de respuesta registradas en base de datos-->
    <ion-item-sliding *ngFor="let rta of respuestaEncuesta">
      <ion-item (click)=idEncuesta(rta)>
        <ion-input type="text" disabled="true"> {{rta.fecha_encuesta}}. {{rta.actividad_realizar}} {{rta.id_encuesta}}. {{rta.id_contrato}}.{{rta.nombre_jefe_consignacion}}  </ion-input>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>