<ion-header class="fondoAzulApp">
  <ion-toolbar>
    <app-atras slot="start"></app-atras>
    <ion-title>
      Accidentes Reportados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondoAzulApp">

  <ion-list name="app">

    <!-- ngfor recorre el arreglo de accidentes y crea una lista de item-->
    <ion-item-sliding *ngFor="let acc of accidentes">

      <!--editarAccidente toma el id_accidente para consultar los datos del accidente en la base-->
      <ion-item routerLink="/editar-accidentes" (click)=editarAccidente(acc.id_accidente)>
        <ion-row>
          <ion-col>
            Número de reporte: {{acc.id_accidente}}
            <br>Nombre accidentado: {{acc.nom_accidentado}}
            <br>Accidente: {{acc.clase_eve}}
            <br>Fecha:{{acc.fecha_acc}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-sliding>
  </ion-list>



</ion-content>