ion-card {
  --color: white;
  margin-bottom: 2%;
}

ion-card-title {
  --color: white;
  font-size: 1.2em;
}

ion-button {
  text-transform: none;
}

ion-card-content {
  text-align: justify;
}

ion-textarea {
  background-color: #009bdb;
}
