<ion-header class="fondoAzulApp">
  <ion-toolbar>
    <app-atras slot="start"></app-atras>
    <ion-title>Cinco reglas de Oro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="fondoAzulApp">
  <app-encabezado></app-encabezado>

  <form [formGroup]="formReglas" (ngSubmit)="sendData()">

    <!--<ion-item>
            <ion-label>Pregunta</ion-label>
            <ion-select interface="alert" placeholder="Seleccionar" formControlName="pregunta" cancelText="Cancelar">
              <ion-select-option *ngFor="let pregs of loadPregunta" value="{{ pregs.id_pregunta }}">{{ pregs.titulo }}</ion-select-option>
            </ion-select>
          </ion-item>-->
  </form>
  <ion-list>
    <ion-item-sliding *ngFor="let pregs of loadPregunta">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{pregs.orden_preguntas}}.{{ pregs.titulo }} </ion-card-title>
          <ion-card-content>{{pregs.descripcion}}</ion-card-content>
          <ion-button>
            <ion-icon name="camera"></ion-icon>
            &nbsp;Agregar evidencia
          </ion-button>
          <ion-textarea name="hola" placeholder="Agregar una observación"></ion-textarea>
        </ion-card-header>
      </ion-card>
    </ion-item-sliding>
  </ion-list>

  <!--<ion-item>
              <ion-label position="floating">Numero de grupo de trabajo </ion-label>
              <ion-input type="tel" formControlName="Ncuadrilla"></ion-input>
            </ion-item>
      
          <ion-item>
              <ion-label position="floating">Numero de consignacion</ion-label>
              <ion-input type="tel" formControlName="NConsignacion"></ion-input>
          </ion-item>
      
          <ion-item>
              <ion-label position="floating">Nombre de jefe grupo de trabajo</ion-label>
              <ion-input type="tel" formControlName="NConsignacion"></ion-input>
          </ion-item>
      
          <ion-item>
              <ion-label position="floating">Actividad a realizar</ion-label>
              <ion-input type="tel" formControlName="actividad"></ion-input>
          </ion-item>-->

</ion-content>