<ion-header class="fondoAzulApp">
  <ion-toolbar class="fondoAzulApp">
    <app-menu slot="start"></app-menu>
    <ion-title>
      Inicio
    </ion-title>
    <app-logout slot="end"></app-logout>
  </ion-toolbar>
</ion-header>

<ion-content class="fondoAzulApp">
  <ion-item lines="none">
    <ion-label class="ion-text-center" id="itemUser">Bienvenido {{ usuario }}</ion-label>
  </ion-item>

  <ion-card class="desingcard">
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center"
        >{{contenidoHome.titulo}}<br />
        {{contenidoHome.subtitulo}}</ion-card-subtitle
      >
      <img [src]="imageUrl" width="100%" height="100%" alt="MIDAS">
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      {{contenidoHome.descripcion}}
    </ion-card-content>
  </ion-card>
</ion-content>
